@import "partials/_colors.scss";
/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {
    font: {
	weight: bold;
	size:1.2em;
    }
    margin: {
	top:-0.2em;
	bottom:1em;
    
}

fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {
    margin: {
	top:0;
	bottom:0;
    }
}

input[type=text], input[type=password], input.text, input.title, textarea {
    background-color:$removed_color;
    border:1px solid $textarea_border_color;
    &:focus {
	border-color: $textarea_border_focus;
    }
}

select {
    background-color:$bg_color;
    border: {
	width:1px;
	style:solid;
    }
}

input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input {
    .text, .title {
	width:300px;
	padding:5px;
    }
    .title {
	font-size: 1.5em;
    }
}

form {
    .inline {
	p {
	    margin-bottom:0;
	}
	line-height:3;
    }
}
    

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:$alert_bg_color;color:$alert_color;border-color:$alert_bg_color;}
.notice {background:$notice_bg_color;color:$notice_color;border-color:$notice_border_color;}
.info {background:$info_bg_color;color:$info_color;border-color:$info_border_color;}

.success {
    background:$success_bg_color;
    color:$success_color;
    border-color:$success_border_color;
    a {
	color: $success_a;
    }
}


.error, .alert {
    a {
	color:$error_a;
    }
}

.notice a {color:$notice_a;}
.info a {color:$info_a;}